.btn {
    text-transform: uppercase;
    border-width: 0 0 5px 0;
    border-style: solid;
    margin: 1rem;
}

.btn-lg {
    width: 280px;
    padding: .8em;
}

@media (max-width: 400px){
    .btn-lg {
        width: 200px;
    }
}